[Desktop Entry]
Type=Application
Name=sdmconsole
GenericName=Instrument control and data acquisition framework
GenericName[ru]=Система управления приборами и захвата данных
Icon=sdmconsole
Exec=sdmconsole
Categories=Development
StartupNotify=true
